<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsyAGtbU2O37Xjaz5FDQZxcZW2HhJKIE4</string>
	<key>GCM_SENDER_ID</key>
	<string>953171522720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-firebase-e369a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-firebase-e369a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953171522720:ios:2d4b0925d06fa9279e45c5</string>
</dict>
</plist>